In [46]:
import pandas as pd
import numpy as np

In [47]:
data = pd.read_excel('./fileExcel.xlsx')

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ФИО               5 non-null      object
 1   Роль              5 non-null      object
 2   название          5 non-null      object
 3   дата регистрации  5 non-null      datetime64[ns]
 4   статус заявки     5 non-null      object
dtypes: datetime64[ns](1), object(4)
memory usage: 328.0+ bytes

In [49]:
data = data.drop("название", axis=1)
data = data.drop("дата регистрации", axis=1)
data = data.drop("статус заявки", axis=1)

In [50]:
data.head()

                         ФИО          Роль
0      Иванов Петр Сергеевич  Руководитель
1     Иванов Сергей Иванович   Исполнитель
2    Петров Аркадий Иванович   Исполнитель
3      Семенов Илья Петрович  Руководитель
4  Лапина Наталья Васильевна  Руководитель

In [51]:
outdata = pd.DataFrame({'Роли': ['Руководитель', 'Исполнитель'], 'Люди': ["",""]})

In [52]:
outdata.head()

           Роли Люди
0  Руководитель
1   Исполнитель

In [53]:
for row in data.itertuples(index=False):
    if (row[1]=='Руководитель'): 
        outdata.iloc[0,1]+=row[0]+" "
    if (row[1]=='Исполнитель'): 
        outdata.iloc[1,1]+=row[0]+" "

In [54]:
outdata.head()

           Роли                                               Люди
0  Руководитель  Иванов Петр Сергеевич ; Семенов Илья Петрович ...
1   Исполнитель  Иванов Сергей Иванович ; Петров Аркадий Иванов...

In [55]:
outdata.to_excel('outdata.xlsx')